* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Creating header section  */
.first-container {
    height: 100vh;
    background-color: #e554731a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-container-text {
    padding-left: 150px;
}

.first-container-title {
    color: #272727;
    font-size: 60px;
    margin-bottom: 20px;
}

.first-container-description {
    color: #27272799;
    font-size: 15px;
    text-align: left;
    line-height: 25px;
    margin-bottom: 20px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 16px 30px;
    border: none;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}

/* .first-container-img-main {
    background-color: red;
} */
.first-container-img {
    width: 550px;
    height: 670px;
    padding-right: 150px;
    margin-top: 42px;
}

/* Featured section */
.featured-main {
    height: 100vh;
}

.featured-main-part01 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

.featured-description {
    color: #27272799;
    text-align: center;
    font-size: 15px;
}

.featured-main-part02 {
    display: flex;
    gap: 30px;
    width: 70%;
    margin: auto;
}

.featured-img {
    width: 150px;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.featured-img-container {
    background-color: #a7216226;
    width: 300px;
    height: 400px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

/* Support Section */
.support-main {
    background-color: #2727270d;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 100px;
}

/* Discount Section */
.discount-main {
    display: flex;
    gap: 0px;
    align-items: center;
    background-color: #e554730d;
    margin-bottom: 100px;
}
.discount-image-section {
    padding-left: 100px;
}
.disc-img {
    height: 300px;
}
.discount-title {
    color: #272727;
    font-size: 40px;
    margin-bottom: 20px;
}

.discount-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.bg-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
    margin-left: 200px;
}

/* Instagram Section */
.instagram-img {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 50%;
    margin: auto;
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
}

/* Subscribe section */
.subscribe-banner-info {
    margin-left: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    
}
.full-images {
    background-image: url("images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    object-fit: cover;
    width: 80%;
    margin: auto;
    height: 600px;
}

.input-text {
    padding: 20px 100px;
    border: none;
}

.div-button-input {
    margin-left: 300px;
}

/* footer Section */
.main-footer {
    background-color: #111010;
    color: #ffffffe6;
    width: 100%;
    height: 400px;
}
.footer-info {
    text-align: center;
    padding-top: 120px;
}
.footer-title {
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 20px;
}

.footer-description {
    color: #ffffffe6;
    text-align: center;
    line-height: 30px;
    margin-bottom: 40px;
}
.footer-end {
    color: #ffffff66;
}
